.test-border {
  border: 1px solid red;
}

.test-border-focus {
  border: 1rem solid blue;
}

a {
  color: white;
  text-decoration: none;
  transition: all ease-in-out 0.8s;
}

a:hover {
  color: #f3334e;
}

body {
  background-color: #041836;
}

ul {
  list-style-type: none;
  display: block;
  max-width: 75%;
  margin: 0 auto;
  padding-left: 0rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

li {
  color: #7b879b;
}

span {
  display: inline-block;
}

.col-6 {
  min-height: 30rem;
}

.weather-icon {
  width: 20%;
}

.day-name {
  width: 50%;
}

.forecast {
  width: 30%;
}

.deep-blue {
  color: #041836;
}

.container-style {
  margin-top: 3rem;
  margin-bottom: 1rem;
  border: solid 0.3rem #fff;
  border-radius: 0.5rem;
}

.background-pic {
  background-image: url(https://bit.ly/3xf4RD9);
  border-style: none;
  background-size: cover;
}

.background-pic div {
  font-family: "Nosifer", cursive;
  font-size: 3rem;
  color: #fff;
  overflow-wrap: break-word;
  margin: 2rem 1rem 1rem 1rem;
}

.background-pic .current-temp {
  text-align: right;
  font-size: 2rem;
  margin: 0rem 1rem 1rem 0rem;
  padding-top: 0rem;
}

.right-column {
  background-color: #fff;
  font-family: "Quicksand", sans-serif;
  font-size: 0.75rem;
  color: #041836;
  text-align: center;
}

.right-column ul {
  text-align: left;
}

.right-column .here {
  margin-top: 2rem;
}

.right-column .now {
  font-weight: 700;
  font-size: smaller;
}

.fa-location-dot {
  color: #f3334e;
}

.fa-sun {
  color: #fdd85d;
  font-size: 1rem;
}

.fa-cloud-rain {
  color: #6798c0;
  font-size: 1rem;
}

.fa-cloud-sun {
  color: #7b879b;
  font-size: 1rem;
}

.fa-snowflake {
  color: rgba(152, 180, 199, 0.8);
  font-size: 1rem;
}

.fa-cloud-bolt {
  color: #041836;
  font-size: 1rem;
}

.attributions {
  margin-top: 0;
  padding-top: 0;
  color: #6798c0;
  font-size: 0.5rem;
}
